$first-font-stack:'Montserrat', sans-serif, font-size 14px;
$second-font-stack: 'Roboto', sans-serif, font-size 15px, color $grey;
$third-font-stack:'Kaushan Script', cursive, font-size 24px, color $dark-grey;
$fourth-font-stack: 'Kaushan Script', cursive, font-size 72px, colour $white;
$fifth-font-stack: 'Roboto', sans-serif;
