* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.container {
    width: 1110px; 
    padding-top: 30px;
    margin: 0 auto;
}
header {
    height: 36px;
}
.logo {
    float: left;
}
nav {
    float: right;
}
.logo a {
    text-decoration: none;
    color: #555252;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.logo:first-letter {
    font-weight: 900;
    color: #1abc9c;
}
.navigation {
    width: 475px;
    margin-top: 9px;
    margin-left: 554px;
}
.navigation li {
    list-style-type: none;
    float: left;
}
.navigation li a {
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.navigation li a:hover {
    color: #1abc9c;
}
.navigation li:not(:last-child) {
    margin-right: 30px;
}
.title {
    text-align: center;
    margin-top: 90px;
}
.title h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 48px;
}
.title h2::after{
    display: block;
    content: "";
    height: 7px;
    width: 164px;
    background-color:  #1abc9c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}
.goods {
    margin-top: 92px;
}
.goods ul li {
    list-style-type: none;
}
.item {
    display: block;
    height: 282px;
    width: 255px;
    background-color: #e9f0fd;
}
.tradingbox {
    float: left;
    background-color: #323232;
}
.tradingbox:hover {
    background-color:#1abc9c;
}
.tradingbox:not(:nth-child(4n)) {
    margin-right: 30px;
}
.tradingbox {
    margin-bottom: 30px;
}
.tradingbox:nth-child(5) {
    margin-bottom: 0;
}
.tradingbox:nth-child(7) {
    margin-bottom: 0;
}
.tradingbox:nth-child(6) {
    margin-bottom: 0;
}
.tradingbox:last-child {
    margin-bottom: 0;
}
.bill a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 9px;
    padding-left: 13px;
}
.bill {
    height: 40px;
    float: left;
}
.price {
    float: right;
    height: 40px;
    width: 54px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.44);
    text-align: center;
    padding: 9px;
}
.news {
    margin-top: 81px;
    margin-bottom: 81px;
}
.info {
    float: left;
    height: 497px;
    width: 351px;
}
.info:not(:last-child) {
    margin-right: 28px;
}
.info h3 {
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    color: #555252;
    font-weight: 600;
    margin-top: 12px;
}
.info h3::after{
    display: block;
    content: "";
    height: 3px;
    width: 136px;
    background-color:  #1abc9c;
    margin-top: 11px;
}
.info p {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    color: #555252;
    font-weight: 400;
    margin-top: 26px;
    line-height: 1.7;
    
}
.button {
    text-decoration: none;
    display: block;
    margin-top: 13px;
    background-color: #1abc9c;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    width: 159px;
    height: 51px;
    border-color: #1abc9c;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 14px;
}