* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
body {
  display: block;
}
header {
  padding-top: 30px;
  width: 1110px;
  margin: 0 auto;
}
nav {
  float: right;
}
.logo {
  display: inline-block;
}
.logo a {
  text-decoration: none;
  color: #555252;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.logo:first-letter {
  font-weight: 900;
  color: #1abc9c;
}
nav {
  padding-top: 9px;
}
.navigation li {
  list-style-type: none;
  float: left;
}
.navigation li a {
  text-decoration: none;
  color: #0f0101;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation li a:hover {
  color: #1abc9c;
}
.navigation li:not(:last-child) {
  margin-right: 30px;
}
main {
  position: relative;
  top: 35px;
  width: 100vw;
  left: 0;
  right: 0;
}
main img {
  object-fit: cover;
  width: 100%;
}
.block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1110px;
}
.left-box,
.slide-info {
  margin-right: 70px;
}
.main-title {
  font-size: 60px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 11px;
}
.slide-info {
  float: left;
}
.slide-info ul li {
  list-style-type: none;
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  float: left;
}
.left-box {
  float: left;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  opacity: 65%;
  cursor: pointer;
  text-align: center;
  font-size: 100px;
  border: 1px solid;
  border-color: #1abc9c;
  color: #ffffff;
  margin-top: 20px;
}
.left-box:hover {
  opacity: 100%;
}
.right-box {
  float: right;
  width: 103px;
  height: 103px;
  background-color: #1abc9c;
  opacity: 65%;
  cursor: pointer;
  text-align: center;
  font-size: 100px;
  border: 1px solid;
  border-color: #1abc9c;
  color: #ffffff;
  margin-top: 20px;
}
.right-box:hover {
  opacity: 100%;
}
.collection {
  background-color: #eaf0fc;
}
.title {
  padding-top: 125px;
  padding-bottom: 80px;
  text-align: center;
  width: 1110px;
  margin: 0 auto;
}
.title h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-size: 48px;
}
.title h2::after {
  display: block;
  content: "";
  height: 7px;
  width: 130px;
  background-color: #1abc9c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
.goods {
  margin-top: 92px;
  width: 1110px;
  margin: 0 auto;
}
.goods ul li {
  list-style-type: none;
}
.tradingbox {
  float: left;
  background-color: #323232;
  margin-bottom: 100px;
}
.tradingbox:hover .name {
  background-color: #1abc9c;
}
.tradingbox:not(:last-child) {
  margin-right: 30px;
}
.item {
  display: block;
  width: 255px;
  background-color: #e9f0fd;
}
.name {
  background-color: #323232;
}
.bill a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 13px;
}
.bill {
  height: 40px;
  float: left;
}
.price {
  float: right;
  width: 54px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.44);
  text-align: center;
  padding: 9px;
}
.over {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 283px;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  border-width: 10px;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  z-index: 1;
  opacity: 0;
}
.over:hover .overlay {
  opacity: 0.549;
}
.buttons {
  position: absolute;
  width: 100%;
  height: 283px;
  top: 0%;
  left: 0%;
  z-index: 2;
  opacity: 0;
}
.buttons:hover {
  opacity: 100%;
}
.but-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.but-position a:not(:last-child) {
  display: inline-block;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 100%);
  border-style: solid;
  text-decoration: none;
  color: rgba(255, 255, 255, 100%);
  font-size: 30px;
  height: 49px;
  width: 49px;
}
.but-position a:first-child {
  margin-right: 5px;
}
.but-position a:nth-child(2) {
  margin-right: 5px;
}
.but-position a:last-child {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 100%);
  border-style: solid;
  text-decoration: none;
  color: rgba(255, 255, 255, 100%);
  text-align: center;
  background-color: #323232;
  display: inline-block;
  height: 49px;
  width: 165px;
}
.cart1 {
  float: left;
}
.cart2 {
  margin-top: 15px;
  margin-left: 11px;
  float: left;
}
.but-position a:hover:not(:last-child) {
  background-color: #1abc9c;
}
footer {
  height: 89px;
  background-color: #353535;
  margin: 0 auto;
}
.info {
  text-align: center;
  padding-top: 35px;
}
.copyright {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.author {
  font-size: 16px;
  color: #1abc9c;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
