* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner {
    width: 900px; 
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 70px;
}
nav {
    margin-bottom: 99px;
    text-align: center;
}
.navigation li {
    display: inline-block;
    list-style-type: none;
}
.navigation li:not(:last-child) {
    margin-right: 123px;
}
a {    
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
a:hover {
    color: #03a9f4;
}    
.line {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
}
.line:nth-child(2n) {
    margin-right: 0;
    margin-left: -.25em;
}
.line:not(:nth-last-child(-n+2)) {
    margin-bottom: 130px;
}
.block1 {
    margin-top: 31px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.block2 {
    margin-top: 31px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
}
.block3 {
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
}
main {
    margin-bottom: 52px;
}
.btn {
    width: 165px;
    height: 60px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    border-color: #626262;
    color: #626262;
}
.buttonbox {
    text-align: center;
}