* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-wrap {
  display: flex;
  flex-direction: column;
  height: 540px;
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
/* Navigation block */
header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  display: flex;
  align-items: flex-end;
}
.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
.nav {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  height: 56px;
}
.log-in,
.sign-up {
  border: 2px solid;
  width: 88px;
  height: 35px;
  border-radius: 50px;
  background-color: transparent;
  border-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.log-in {
  border: none;
}
/* Main title */
.title-wrap {
  height: 306px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 33px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  height: 132px;
}
.title-name {
  color: #ffffff;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
}
.sub-title {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  padding-top: 19px;
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
}
.title-button-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}
.title-button {
  border: none;
  width: 278px;
  height: 39px;
  border-radius: 50px;
  background-color: #de4f51;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}
/* Title */
.info-block {
  height: 1178px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.subscribers-block {
  height: 990px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  max-width: 220px;
  width: 100%;
  text-align: center;
  position: relative;
}
.info-block h3 {
  color: #363636;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 17px;
}
.info h4 a {
  color: #363636;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
}
.info p {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  padding-top: 16px;
  padding-bottom: 30px;
}
.first-person::before {
  content: "";
  background-image: url("../img/blonde-guy.png");
  background-position: center;
  height: 121px;
  width: 121px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
.monitor-icon::after {
  content: "";
  background-image: url("../img/monitor-icon.png");
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 116px;
}
.second-person::before {
  content: "";
  background-image: url("../img/guy-round-lips.png");
  background-position: center;
  height: 121px;
  width: 121px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
.botle-icon::after {
  content: "";
  background-image: url("../img/botle-icon.png");
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 151px;
}
.third-person::before {
  content: "";
  background-image: url("../img/smiling-girl.png");
  background-position: center;
  height: 121px;
  width: 121px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
.cup-icon::after {
  content: "";
  background-image: url("../img/cup-icon.png");
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 116px;
}
.fourth-person::before {
  content: "";
  background-image: url("../img/girl-in-glases.png");
  background-position: center;
  height: 121px;
  width: 121px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
.plane-icon::after {
  content: "";
  background-image: url("../img/plane-icon.png");
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 116px;
}
/* Bottom button */
.bottom-button-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 57px;
}
.bottom-button {
  border: 2px solid;
  width: 276px;
  height: 36px;
  border-radius: 50px;
  background-color: #ffffff;
  border-color: #de4f51;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #de4f51;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-wrap {
    height: 700px;
    background-image: url("../img/people.png");
  }
  header {
    max-width: 668px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
  }
  .title-wrap {
    height: 235px;
    max-width: 768px;
    padding-top: 152px;
  }
  .title {
    margin-bottom: 32px;
    height: 232px;
  }
  .title-name {
    font-size: 52px;
  }
  .sub-title {
    font-size: 24px;
    padding-top: 24px;
    max-width: 768px;
  }
  .title-button {
    width: 225px;
  }
  /* Info block */
  .info-block {
    height: 737px;
    padding-top: 75px;
    max-width: 768px;
  }
  .subscribers-block {
    height: 542px;
    max-width: 471px;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .info-block h3 {
    padding-bottom: 35px;
  }
  .info:first-child {
    margin-bottom: 30px;
  }
  .info:nth-child(3) {
    margin-bottom: 30px;
  }
  .bottom-button-wrap {
    margin-top: 8px;
    margin-bottom: 40px;
  }
  .bottom-button {
    width: 192px;
  }
}
@media screen and (min-width: 920px) {
  .top-wrap {
    background-image: url("../img/people.png");
    background-size: cover;
    height: 700px;
  }
  header {
    max-width: 940px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 65px;
  }
  .title-wrap {
    height: 235px;
    max-width: 768px;
    padding-top: 152px;
  }
  .title {
    margin-bottom: 32px;
    height: 232px;
  }
  .title-name {
    font-size: 52px;
  }
  .sub-title {
    font-size: 24px;
    padding-top: 24px;
    max-width: 768px;
  }
  .title-button {
    width: 225px;
  }
  /* Info block */
  .info-block {
    height: 510px;
    padding-top: 75px;
    max-width: 940px;
  }
  .subscribers-block {
    height: 235px;
    max-width: 914px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info-block h3 {
    padding-bottom: 35px;
  }
  .bottom-button-wrap {
    margin-top: 39px;
    margin-bottom: 73px;
  }
  .bottom-button {
    width: 192px;
  }
  .first {
    order: 1;
  }
  .second {
    order: 3;
  }
  .third {
    order: 2;
  }
  .fourth {
    order: 4;
  }
}
