* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Wisdom Script";

  src: url("./fonts/wisdom_script_aj-webfont.woff");
  src: url("./fonts/wisdom_script_aj-webfont.woff2");
}
@font-face {
  font-family: "Montserrat";

  src: url("./fonts/montserrat-v14-latin-regular-webfont.woff");
  src: url("./fonts/montserrat-v14-latin-regular-webfont.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat-Bold";

  src: url("./fonts/montserrat-bold-webfont.woff");
  src: url("./fonts/montserrat-bold-webfont.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "DroidSerif-Italic";

  src: url("./fonts/droidserif-italic-webfont.woff");
  src: url("./fonts/droidserif-italic-webfont.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "RobotoSlab";

  src: url("./fonts/robotoslab-regular-webfont.woff");
  src: url("./fonts/robotoslab-regular-webfont.woff2");
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Navigation block */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 65px;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  color: #f2d048;
  font-size: 26px;
  font-family: "Wisdom Script";
  font-weight: lighter;
  cursor: pointer;
  padding-left: 7px;
}
.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  color: #272727;
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  cursor: pointer;
  max-width: 480px;
  width: 100%;
}
.nav li a {
  display: block;
}
.nav li a:hover {
  color: #f2d048;
}
main {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}
/* First title */
.first-title-wrap {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 297px;
}
.first-title-name {
  font-family: "Montserrat-Bold";
  color: #272727;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 40px;
}
.sub-title {
  font-size: 16px;
  font-family: "DroidSerif-Italic";
  color: #767676;
}
/* Info-block */
.info-block {
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  width: 100%;
}
.basket-icon::before {
  content: "";
  background-image: url("../img/basket.png");
  background-position: center;
  height: 69px;
  width: 69px;
  border: 3px solid;
  border-color: #f2d048;
  border-radius: 50%;
  margin-bottom: 16px;
  background-repeat: no-repeat;
}
.monitor-icon::before {
  content: "";
  background-image: url("../img/monitor.png");
  background-position: center;
  height: 69px;
  width: 69px;
  border: 3px solid;
  border-color: #f2d048;
  border-radius: 50%;
  margin-bottom: 16px;
  background-repeat: no-repeat;
}
.lock-icon::before {
  content: "";
  background-image: url("../img/lock.png");
  background-position: center;
  height: 69px;
  width: 69px;
  border: 3px solid;
  border-color: #f2d048;
  border-radius: 50%;
  margin-bottom: 16px;
  background-repeat: no-repeat;
}
.info h3 {
  font-size: 18px;
  font-family: "Montserrat-Bold";
  color: #363636;
  padding-bottom: 12px;
}
.info p {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: #767676;
  text-align: center;
  line-height: 1.7;
}
/* Contact-block */
.contact {
  background-color: #272727;
  max-width: 100%;
  margin: 0 auto;
}
.contact-block {
  height: 676px;
  padding-bottom: 19px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-position: right top 117px;
  background-size: 615px 534px;
}
/* Second title */
.second-title-wrap {
  padding-top: 110px;
  padding-bottom: 75px;
}
.title {
  max-width: 498px;
  width: 100%;
  margin: 0 auto;
}
.second-title-name {
  font-family: "Montserrat-Bold";
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 40px;
}
/* Subscribing block */
.subscribing-block {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribing-wrap {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.input-wrap {
  height: 211px;
  width: 458px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-wrap input {
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 3%;
  height: 52px;
  width: 456px;
  background-color: #ffffff;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  padding-left: 20px;
}
.input-wrap .email-input {
  border: 1px groove;
}
.input-wrap input::placeholder {
  color: #bababa;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-transform: uppercase;
}

.input-wrap textarea {
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-color: #cbcbcb;
  border-radius: 2%;
  background-color: #ffffff;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  padding-left: 20px;
  padding-top: 20px;
}
.input-wrap textarea::placeholder {
  color: #bababa;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-transform: uppercase;
}
.email-input:valid {
  outline-color: green;
}
.email-input:invalid {
  outline-color: red;
}
.name-input:valid {
  outline-color: green;
}
.name-input:invalid {
  outline-color: red;
}
.input-wrap textarea:valid {
  outline-color: green;
}
.input-wrap textarea:invalid {
  outline-color: red;
}
.button {
  padding-top: 30px;
}
input[type="submit"] {
  border: 1px solid;
  width: 239px;
  height: 64px;
  border-radius: 3%;
  background-color: #f2d048;
  border-color: #f2d048;
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
